<li id="re<%=task.id%>" data-id="<%=task.id%>" style="background-color:#fff;list-style:none;"> 

<% if task.completed? %>
<i class="fa fa-check-square-o"></i>
<strike><%= best_in_place task, :name, as: :input, activator: "#edit-task-name-#{task.id}" %></strike>
<%= link_to "#", class: 'btn btn-warning', id: "edit-task-name-#{task.id}" do %>
    <i class="fa fa-pencil"></i>
<% end %>
<%= link_to task, class: "btn btn-danger", :remote => true, method: :delete do %>
    <i class="fa fa-trash-o"></i>
<% end %>



<br>
<% else %>
<%= link_to complete_project_task_path(task.project, task), class: "btn btn-success", method: :patch do %>
    <i class="fa fa-square-o"></i>
<% end %>
<%= best_in_place task, :name, as: :input, activator: "#edit-task-name-#{task.id}" %>
<%= link_to "#", class: 'btn btn-warning', id: "edit-task-name-#{task.id}" do %>
    <i class="fa fa-pencil"></i>
<% end %>
<%= link_to task, class: "btn btn-danger", :remote => true, method: :delete do %>
    <i class="fa fa-trash-o"></i>
<% end %>

<br>
<% end %>
</li>