 
    <div id="re<%=project.id%>" style="outline:2px solid #000; width:500px; margin:auto;" id="aaa"> 
    <div style="background-color:#525; color:#fff;"><%= best_in_place project, :name, as: :input, activator: "#edit-project-name-#{project.id}" %>

    <%= link_to "#", class: 'btn btn-primary', id: "edit-project-name-#{project.id}" do %>
            <i class="fa fa-pencil"></i>
            <% end %>
    <%= link_to  project, class: "btn btn-danger", remote: true, method: :delete do %>
            <i class="fa fa-trash-o"></i>
            <% end %>
    <br>
    </div>
    <%= form_for([project, Task.new], :remote => true) do |f| %>  
    <div style="background-color:#fff;">
    <br>
    <%= f.text_field :name %><%= f.submit "Create task", class: 'btn btn-success' %>
    </div>
    <div class="actions" style="background-color:#fff;">
    <% end %>
    <ul class="sortable" id="task<%=project.id%>" >
    <% project.tasks.each do |task| %>
    <%= render 'tasks/task', :task => task %>
    <% end %>
    </ul>
    </div>
    </div>
    

    