<!DOCTYPE html>
<html>
<head>
  <title>Kirill</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<% if current_user %>
	<span>Welcome, <%= current_user.email %></span>
	<%= link_to destroy_user_session_path, :method => :delete, class: "btn btn-danger" do %>
            <i class="fa fa-sign-out"></i>
            <% end %>
    
<% else %>
	<%= link_to new_user_registration_path, class: "btn btn-danger" do %>
            <i class="fa fa-registered"></i>
            <% end %>
	<%= link_to new_user_session_path, class: "btn btn-danger" do %>
            <i class="fa fa-sign-in"></i>
            <% end %>

<% end %>
<h1>PRPJECTS</h1>
<%= yield %>

</body>
</html>
